.btn.btn-default.ui-sortable-handle {
  display: block;
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
  text-align: left;
  width: 80%;
}

/* From https://github.com/thomasp85/shinyFiles/pull/100/commits/7114e8fd81c4bba87f6fc961d3cc414a007fee67 */
.sF-modal .modal-content {
  overflow: auto;
  min-width: 276px;
  max-height: calc(100vh - 45px);
}